/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}


main {
  overflow: hidden;
}

/* footer {
  position: fixed;
} */

/* .username-display {
  font-size: 50px;
} */

/* Start of Ham-menu */
a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: #DDE5B6;
}


/* .container {
  color: #6f86ff;
  text-align: center;
  font-size: 50px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
} */


/* off-screen-menu */
.off-screen-menu {
  background-color:#6C584C;
  height: 100vh;
  width: 100%;
  max-width: 450px;
  position: fixed;
  top: 0;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 3rem;
  transition: 0.3s ease;
  
}

.off-screen-menu a {
  text-decoration: none;
  color: #F0EAD2;
  display: inline-block;
}

.off-screen-menu.active {
  right: 0;
}

.off-screen-menu a:hover {
  cursor: default;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  color: #DDE5B6;
}



/* ham menu */
.ham-menu {
  height: 50px;
  width: 40px;
  position: relative;
  z-index: 1;
}
.ham-menu span {
  height: 5px;
  width: 100%;
  background-color: #F0EAD2;
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: white;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(5),
.ham-menu.active span:nth-child(4),
.ham-menu.active span:nth-child(2) {
  display: none;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}


/*recipe search bar css*/
input[type="text"], button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
}

.search-container {
  margin: 20px;
  text-align: center;
}

#search-input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
}

#search-button {
  padding: 10px;
  font-size: 16px;
  background-color: #6f86ff;
  color: white;
  border: none;
  cursor: pointer;
}

#results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.ingredient {
  text-align: center;
  padding: 10px;
  background-color: #42465d;
  color: white;
  border-radius: 10px;
}

.ingredient img {
  max-width: 100px;
  border-radius: 5px;
  margin-bottom: 10px;
}


#savedItemsContainer {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
#inventoryContainer img, #savedItemsContainer img {
  width: 100px;  /* Adjust size as necessary */
  height: auto;
}

#recipeResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe {
width: 30%; /* Adjust as needed */
display: inline-block;
margin: 10px; /* Adjust spacing between recipes */
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.recipe img {
max-width: 100%;
display: inline-flex ;
height: auto;
}

.logo-and-search {
display: flex;
align-items: center;
margin-right: auto; /* Pushes the search box and logo to the left */
}

#searchInput {
margin-right: 10px; /* Adds space between search input and button */
}

.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);
}

.modal-content {
background-color: #fefefe;
margin: 15% auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

.modal-content img {
max-width: 100%;
height: auto;
}

/* CSS to style the close button */
#closeModalBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}


/* Styling for login and register modals */

dialog {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: fit-content;
  width: 70%;
}

dialog div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  border:#1F2937;
  border-width: 10px;
  background: #6C584C;
  text-align: center;
  color: white;
}

dialog form {
  justify-content: center;
  align-content: center;
}

dialog input {
  width: 50%;
  justify-self: center;
  align-self: center;
  color: black;
}



#recipeResults {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



.recipe {
  width: 30%; /* Adjust as needed */
  display: inline-block;
  margin: 10px; /* Adjust spacing between recipes */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  }
  
  .recipe img {
  max-width: 100%;
  display: inline-flex ;
  height: auto;
  }
  
  .logo-and-search {
  display: flex;
  align-items: center;
  margin-right: auto; /* Pushes the search box and logo to the left */
  }
  
  #searchInput {
  margin-right: 10px; /* Adds space between search input and button */
  }
  
  .modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  }
  
  .modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  }
  
  .modal-content img {
  max-width: 100%;
  height: auto;
  }
  
  /* CSS to style the close button */
  #closeModalBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }